body {
  font-family: "Roboto", sans-serif;
}
:root {
    --colorTextone: #212121;
    --colorTexttwo: #757575;
    --colorTextthree: #ffffff;
    --colorHover: #2196f3;
    --colorBackgroungPrimary: #2f303a;
    --colorBackgroungSecondary: #f5f4fa;
    --colorTextAdditional: rgba(255, 255, 255, 0.6);
  }
  
  h1 {
    color: var(--colorTextthree);
  }
  h2,
  h3 {
    color: var(--colorTextone);
  }
  .hero {
    background-color: var(--colorBackgroungPrimary);
  }
  .footerBackground {
    background-color: var(--colorBackgroungPrimary);
  }
  .textGraySixtyPercent {
    color: var(--colorTextAdditional);
  }
  p {
    color: var(--colorTexttwo);
  }